/* general sections */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding-top: 54px;
    color: #EEE;
    background-color: #0f1113;
    margin-left: 5%;
    transition: .5s;
}
    
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sniglet', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: #BBB;
}
  
h1 {
    font-size: 64px;
    line-height: 88px;
}
  
h2 {
    font-size: 55px;
    color: rgb(27, 70, 211)
}

h2:hover {
    color: #FFF;
}
  
h3 {
    font-size: 28px;
}

ul {
    display: inline;
}

/* sidebar */

.navbar-expand {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    margin: auto auto 0; 
    padding-top: 60px;
    transition: 0.5s; 
}
  
  /* The sidebar links */
.navbar-expand a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
  
  /* Position and style the close button (top right corner) */
.navbar-expand .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    color: #000;
}

.img-profile {
    margin-top: 100px;
    margin-left: 15%;
    border-radius: 50%;
    width: 200px;
    height: auto;
}

.navbar-nav {
    list-style: none;
    margin-right: 50%;
}

#navbar-expand .navbar-top .img-profile {
    max-width: 160px;
    max-height: 160px;
    border: 8px solid rgba(1, 1, 1, 0.2);
}

.nav-btn {
    background-color: rgb(39, 83, 226);
    border: 2px solid #FFF;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 15%;
}

.nav-btn:hover {
    background-color: #FFF;
    border: 2px solid rgb(39, 83, 226);
}

.nav-link {
    text-align: center;
    color: rgb(159, 179, 246);
}

.nav-link:hover {
    color: rgb(106, 139, 246)
}
  
#navMail {
    font-weight: 600;
    text-transform: uppercase;
    color:rgb(196, 208, 248);
    margin-bottom: 5%;
    font-size: inherit;
    margin-left: 10%;
}
  
#navMail:hover {
    text-decoration: none;
    color: #FFF;
}

/* Page content */

.description {
    font-size: 18px;
    font-weight: 400;
}

li.list-inline-item {
    list-style-type: none;
    display: inline;
}
  
.social-icons a {
    display: inline-block;
    height: 73px;
    width: 73px;
    background-color: #fff;
    color: #0f1113 !important;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    font-size: 35px;
    line-height: 70px;
    margin-right: 16px;
}
  
.social-icons a:last-c1ild {
    margin-right: 0;
}
  
.social-icons a:hover {
    background-color: rgb(27, 70, 211);
}
  
.list-inline {
    font-size: 72px;
    text-align: center;
}
  
.list-inline .list-inline-item i:hover {
    color: rgb(27, 70, 211);
}
    
.red {
    color: rgb(27, 70, 211);
}
  
#dl {
    padding: 8px;
    border-radius: 5px;
    background:#333;
    border: none;
    }
    
#dl:hover {
    background: #555;
    }
    
#dl a {
    color: #FFF;
}
    
#dl a:hover {
    text-decoration: none;
}
    
.container {
    padding-left: 0px;
    text-align: center;
}

.row {
    width: 100%;
}
  
.card {
    color: #FFF;
    width: 80%;
    padding: 3%;
    border-style: solid;
    border-color: rgb(27, 70, 211);
    border-radius: 25px;
    margin-bottom: 15px;
    margin-left: 10%;
}
  
.card h5 {
    color: rgb(69, 41, 161);
    font-size: 16px;
    text-align: left;
}
  
.card img {
    height: 200px;
    width: 50%;
    border-color: #0f1113;
    border-radius: 25px;
}
  
.sub {
    font-style: italic;
    color: #709beb;
    font-weight: 400;
}
  
#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    text-transform: uppercase;
    font-size: larger;
}
  
#sideNav .navbar-toggler:focus {
    outline-color: #709beb;
}
  
#mail {
    padding-left: 1%;
}
  
section.resume {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    max-width: 90%;
}
  
section.resume .resume-item .resume-date {
    min-width: 288px;
}

section.resume {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.navbar-expand {
    background-color: rgb(39, 83, 226) !important;
}
  
.text-primary {
    color: rgb(27, 70, 211) !important;
}
  
a {
    color: rgb(27, 70, 211);
}
  
a:hover, a:focus, a:active {
    color: rgb(22, 44, 116);
}

.subtitle {
    background-color:#0f1113;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    border: 5px solid rgb(27, 70, 211);
    border-radius: 12px;
}

.m-0 {
    margin-left: 0%;
    width: 90%
}

.m-1 {
    margin-top: 5%;
}
 
  /* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px;
    border: none;
    text-align: end;
}
  
.openbtn:hover {
    background-color: #444;
}

#main {
    position: fixed;
    transition: margin-right .5s;
    padding: 20px;
    right: 0;
}

@media only screen and (max-width: 1400px){
    .section.resume {
        max-width: 90%;
        margin-left: -15%;
    }
    .subtitle {
        width: 98%;
    }

    .card {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 1060px){

    .list-inline {
        font-size: 55px;
        text-align: center;
        margin-left: -0%;
    }
}

@media only screen and (max-width: 800px){
    .section.resume {
        max-width: 90%;
    }
    .subtitle {
        width: 98%;
    }

    .card {
        margin-left: 2%;
        width: 90%;
    }

    .card img {
        margin-left: 2%;
        width: 90%;
        height: 50%;
    }

    .card li {
        list-style-type: none;
        margin-right: 10px;
    }

    .navbar-expand {
        display: none;
    }

    #main {
        display: none;
    }

    .list-inline {
        font-size: 50px;
        text-align: center;
        margin-left: -0%;
    }
}

@media only screen and (max-width: 760px){
    ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .list-inline {
        font-size: 70px;
        text-align: center;
        margin-left: 15%;
    }
}

@media only screen and (max-width: 550px){
    ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .list-inline {
        font-size: 70px;
        text-align: center;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 500px){
    ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .list-inline {
        font-size: 63px;
        text-align: center;
        margin-left: -0%;
    }
}

@media only screen and (max-width: 420px){
    ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .list-inline {
        font-size: 55px;
        text-align: center;
        margin-left: -0%;
    }
}



@media only screen and (max-width: 390px){
    ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .list-inline {
        font-size: 45px;
        text-align: center;
        margin-left: -0%;
    }
}

@media only screen and (max-width: 310px){
    ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .list-inline {
        font-size: 30px;
        text-align: center;
        margin-left: -0%;
    }
}